################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/playlist-CS-1-1/v16/.suo
/.vs
